<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch"/> -->

    <!-- <include file="$(find turtlebot_rviz)/launch/view_navigation.launch"/> -->
    <node name="main_state_node" pkg="all_ai" type="main2.py" output="screen"/>

    <node name="hand_node" pkg="all_ai" type="hand_sub.py" output="screen"/>

    <node name="human_node" pkg="all_ai" type="open_pose.py" output="screen"/>

    <node name="human_node" pkg="all_ai" type="voice_control.py" output="screen"/>

    <node name="human_node" pkg="all_ai" type="bage_follwer.py" output="screen"/>
    

</launch> 